* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --view-height: 78vw;
    --view-width: 60vw;
    --scale: 1;
}

body {
    background-color: #525659;
}

.container {    
    box-shadow: 0 3px 8px -4px black;       
    height: var(--view-height);
    width: var(--view-width);
    margin: calc(3vw * var(--scale)) auto calc(3vw * var(--scale)) auto;        
    background-size: cover;
    overflow: hidden;

    /* Font */
    font-family: 'Raleway', sans-serif;

    /* GRID */
    display: grid;
    grid-template-columns: 7fr 10fr;
    grid-template-areas: 
        "area-one area-two";
}

/* Common Values */
h3 {
    text-transform: uppercase;
    font-size: calc(1.3vw * var(--scale));
}

/* Area One */
.area-one {
    grid-area: area-one;
    position: relative;
    color: white;  
    padding: calc(2.5vw * var(--scale));      
    padding-right: calc(1vw * var(--scale));
    padding-left: calc(3vw * var(--scale));
    padding-top: calc(3.2vw * var(--scale));
}

/* Corner Section */
#corner-section {
    position: absolute;
    bottom: calc(9vw * var(--scale));
    left: calc(-4vw * var(--scale));         
    filter: grayscale(1);      
    width: calc(40vw * var(--scale));
    height: calc(14vw * var(--scale));
    background-size: cover;
}

#location-name {
    position: absolute;
    font-weight: bold;
    bottom: calc(12vw * var(--scale));
    left: calc(2.5vw * var(--scale));
    font-size: calc(2.3vw * var(--scale));
    color: white;
    opacity: .2;
}


/* Area Two */
.area-two {
    position: relative;
    grid-area: area-two;
    padding: calc(3vw * var(--scale));
    padding-right: calc(2.5vw * var(--scale));
    margin-right: -1px;
    margin-top: -1px;
    border-bottom-left-radius: 60%;

    /* Adding Height and Padding to give correct border-radius effect */    
    padding-bottom: calc(var(--view-height) + calc(14vw * var(--scale)) - var(--view-height));
    background-color: white;    
        
    -webkit-box-shadow: calc(2vw * var(--scale)) calc(4vw * var(--scale)) calc(0vw * var(--scale)) calc(2vw * var(--scale)) rgba(0,0,0,0.46);
    -moz-box-shadow: calc(2vw * var(--scale)) calc(4vw * var(--scale)) calc(0vw * var(--scale)) calc(2vw * var(--scale)) rgba(0,0,0,0.46);
    box-shadow: calc(2vw * var(--scale)) calc(4vw * var(--scale)) calc(0vw * var(--scale)) calc(2vw * var(--scale)) rgba(0,0,0,0.46);
}

/* Heading Section */
#heading-section h1{
    font-family: "aileron", "sans-serif";
    text-transform: uppercase;
    font-size: calc(2.8vw * var(--scale));
}

#heading-section h2{    
    text-transform: uppercase;
    font-size: calc(1.2vw * var(--scale));
    font-weight: 100;
    margin: calc(.8vw * var(--scale)) 0;
    position: relative;
}

#heading-section h2::after {
    position: absolute;
    height: calc(.3vw * var(--scale));
    width: calc(4vw * var(--scale));
    background-color: white;
    content: "";
    top: calc(3vw * var(--scale));
    left: 0;
}

#heading-section h3{
    margin-top: calc(5vw * var(--scale));
}

#heading-section div {
    font-size: calc(1vw * var(--scale));
    margin-top: calc(1vw * var(--scale));
    font-weight: 300;
}

/* Languages Section */
#languages-section {
    margin-top: calc(2.5vw * var(--scale));
}

#languages-section ul {
    margin-top: calc(1vw * var(--scale));
}

#languages-section ul li {
    margin-left: calc(2vw * var(--scale));
    font-size: calc(1.1vw * var(--scale));
    font-weight: 300;
}

/* Contact Section */
#contact-section {
    margin-top: calc(3vw * var(--scale));
}

#contact-section h3 {
    text-transform: capitalize;
    margin-bottom: calc(1vw * var(--scale));
}

#contact-section > div {
    text-transform: capitalize;
    font-size: calc(1.2vw * var(--scale));
    font-weight: bold;
    margin-top: calc(.2vw * var(--scale));
}

#contact-section > div > span {
    text-transform: lowercase;   
    font-weight: normal; 
}

/* Hobbies Section */
#hobbies-section {
    margin-top: calc(5vw * var(--scale));
    position: relative;
}


#hobbies-section::before {
    position: absolute;
    height: calc(.4vw * var(--scale));
    width: calc(5vw * var(--scale));
    background-color: white;
    content: "";
    top: calc(-3vw * var(--scale));
    left: 0;
}

#hobbies-section ul {
    margin-top: calc(1vw * var(--scale));
}

#hobbies-section ul li{
    margin-left: calc(2vw * var(--scale));
    font-size: calc(1vw * var(--scale));
    margin-top: calc(.4vw * var(--scale))
}

/* Education Section */
#education-section {
    font-size: calc(1.21vw * var(--scale));
}

.institute {
    font-weight: bold;
    margin-top: calc(1vw * var(--scale));
}

.program {
    margin-top: calc(.7vw * var(--scale));
}

.program span{
    font-weight: bold;
}

/* Skills Section */
#skills-section {
    margin-top: calc(1vw * var(--scale));
}

#skills-section  > ul {
    margin-top: calc(1vw * var(--scale));
}

#skills-section > ul > li{
    margin-left: calc(2vw * var(--scale));
    font-size: calc(1.1vw * var(--scale));
    font-weight: 600;
}

#skills-section ul li ul{
    margin-left: calc(3vw * var(--scale));
    font-weight: normal;    
}

/* Work History Section */
#work-history-section {
    margin-top: calc(2vw * var(--scale));
    font-size: calc(1.2vw * var(--scale));
}

#work-history-section div {
    margin-top: calc(1vw * var(--scale));
}

#work-history-section > ul > li{
    margin-left: calc(2vw * var(--scale));
    font-size: calc(1.1vw * var(--scale));    
}


/* Volunteer Work Section */
#volunteer-work-section {
    margin-top: calc(2vw * var(--scale));
    margin-left: calc(1.2vw * var(--scale));
}

#volunteer-work-section > div {
    margin-top: calc(1vw * var(--scale));
}

#volunteer-work-section > div, #volunteer-work-section > ul {
    font-size: calc(1.2vw * var(--scale));
}

#volunteer-work-section > ul {
    margin-left: calc(3vw * var(--scale));
}

/* Awards Section */
#awards-section {
    margin-top: calc(2vw * var(--scale));
    margin-left: calc(3vw * var(--scale));
}

#awards-section ul {
    margin-top: calc(1vw * var(--scale));
    margin-left: calc(2vw * var(--scale));
    font-size: calc(1vw * var(--scale));    
}

#awards-section ul li {
    margin-top: calc(1vw * var(--scale));
}

/* Media Queries */

/* Mobile and Tablet Media */
@media only screen and (max-width: 1366px) {
    :root {
        --view-height: calc(78vw * 1.6);
        --view-width: calc(60vw * 1.6);
        --scale: 1.6;
    }

    .container {
        margin: calc(1vw * var(--scale)) auto calc(1vw * var(--scale)) auto; 
    }
}

/* Printing */
@media only print {
    /* @media only screen and (max-width: 1366px) { */
    :root {
        --view-height: calc(78vw * 1.63);
        --view-width: calc(60vw * 1.63);
        --scale: 1.63;
    }

    .container {
        margin: 0 auto;
        box-shadow: none;
        
        /* Changing Font because Raleway shows abnormally when printing */
        font-family: 'Arimo', sans-serif;       
    }  

    /* Removing Extra Spaces */
    .area-two {
        margin-right: -2px;        
    }

    body {
        background-color: transparent;
        margin: auto;
    }

    /* Removing Extra Details when Printing */
    @page { margin: 0; }        
}